@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    background: #40d9cc;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.timer{
    display: flex;
    align-items: center;
}

.stop{
    animation: stop 2s linear forwards infinite;
}

@keyframes stop {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}

.timer h1{
    font-size: 5.3rem;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.buttons button{
    padding: 10px;
    font-size: 1.2rem;
    margin: 20px;
    background: white;
    border-radius: 5px;
    border: none;
    width: 100px;
    font-family: 'Poppins', sans-serif;
}
.buttons button:hover{
    background: black;
    color: white;
}


@media screen and (max-width: 578px) {
    body{
        background: rgb(32, 32, 32);
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .buttons button{
        width: auto;
    }
    .timer h1{
        font-size: 3.2rem;
    }
}